<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NDM_SoftwareV5.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="DB_Server" value="ndm_software_atendimento"/>
    <add key="LOG_Server" value="root"/>
    <add key="PWD_Server" value="122436"/>
    <add key="PORT_Server" value="3306"/>
    <add key="IP_Server" value="189.113.223.240"/>

  </appSettings>
  <userSettings>
    <NDM_SoftwareV5.Properties.Settings>
      <setting name="EMPRESA_DESCRICAO" serializeAs="String">
        <value/>
      </setting>
      <setting name="EMPRESA_ID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EMPRESA_OBS" serializeAs="String">
        <value/>
      </setting>
      <setting name="login_app" serializeAs="String">
        <value>NDM</value>
      </setting>
      <setting name="senha_app" serializeAs="String">
        <value>ndm</value>
      </setting>
    </NDM_SoftwareV5.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>